{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>AllUsers</h1>


    <ul>
        {{#each users}}
        <li>
            Name:{{this.name}} ,Age:{{this.age}}
        </li>
        {{/each}}
    </ul>

</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>

<body>

    <h1>All Users</h1>

    <ul>
        {{#each users}}
        <li>
            Name: {{this.name}}, Age: {{this.age}}
        </li>
        {{/each}}
    </ul>

    <button onclick="window.location.href='/home';">Go to Home</button>

</body>

</html>